
<head>
    <link rel="stylesheet" href="CSS/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/grid.css">
    <link rel="stylesheet" type="text/css" href="CSS/main.css">
    <link rel="stylesheet" type = "text/css" href="CSS/menu.css">
    <link rel="stylesheet" href="leaflet/leaflet.css" rel="stylesheet">
    <link href="CSS/Oefn.css" type="text/css" rel="stylesheet">
</head>
<body>

<nav>
<ul class="hoofdnav" id="Navigatie">
    <li><a href="index.html">Home</a></li>
    <li><a href="Vissersplaatsen.html">Vissersplaatsen</a></li>
    <li><a href="Parkeerplaatsen.html">Parkeerplaatsen</a></li>
    <li><a href="weer.html">Weer</a></li>
    <li><a href="Soorten.html">Soort vis</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenu()">☰</a>
    </li>
</ul>
</nav>
