$Groen: #6ba51f;
$Rood: #c41230;

body{
    width: 100%;
}
img {
   margin:auto;
    max-height: 500px;
}
.bxslider { 
  width: 100px;
  background-color: $Rood;
  background-size: cover;
  position: relative;
  border: 1px solid ;
}
.infoVPlaats {
    text-align: center;
    margin: 0;
    margin-bottom: 1vw;
    width: 100%;
    background-color: $Groen;
    float: left;
    font-size: 2vw;
    
    a{
    font-size: 2vw;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
    }
    
    a:hover{
    font-size: 3vw;
    font-weight: bold;
    }
}
.AboveInfoD{
  padding:1%;
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    height: 8vw;
    width: 100%;
    background-color: $Groen;
    margin-bottom: 2vw;
    font-size: 2vw;
          -webkit-transition: font-size 0.2s;
            transition: font-size 0.2s;
}
.AboveInfoD:hover  {
    font-size: 3vw;
      font-weight: bold;
}

a {
    color: white;
}   