$Groen: #6ba51f;
$Rood: #c41230;
$Blauw_Blok: #7DBED4;
$Geel: #C7C090;
body{
    width: 100%;
}

.bxslider { 
    width: 100px;
    background-color: $Rood;
    background-size: cover;
    position: relative;
    border: 1px solid;

img {
    width: 100%;
    max-height: 500px;

}
    }
.infoVPlaats {
    text-align: center;
    margin: 0;
    margin-bottom: 1vw;
    background-color: $Blauw_Blok;
    float: left;
    font-size: 2vw;
    
    a{
    font-size: 2vw;
    -webkit-transition: font-size 0.1s;
    transition: font-size 0.1s;
    }
    
    a:hover{
    font-size: 3vw;
    }
}

.back{
    margin-bottom: 5%;
    
    p {
        background-color:$Geel;
        border-radius: 10px;
    }
}

.AboveInfoD{
    padding:1%;
    position: relative;
    margin: 0;
    margin-bottom: 15%;
    font-size: 2vw;
    -webkit-transition: font-size 0.2s;
    text-align: center;
    margin-bottom:1vw;
}

.AboveInfoD:active  {
    font-size: 2.5vw;
}

a {
    color: white;
}   